#!/usr/bin/env bash

# Unstaged (*) and staged (+) changes will be shown next to the branch.
# https://github.com/git/git/blob/master/contrib/completion/git-prompt.sh
export GIT_PS1_SHOWDIRTYSTATE=1

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Node version manager: https://github.com/creationix/nvm
export NVM_DIR="$HOME/.nvm"


# == Bash History Configuration ==
# The `.bash_prompt` keeps a `.complete_annotated_history` directory with a
# complete history of all our commands. So some of these settings are a bit
# redundant. (But bash history is just so useful!)

# Don't allow duplicate entries in the history.
export HISTCONTROL=ignoredups:erasedups

# Don't set any limits on the size of the history file.
export HISTFILESIZE=-1

# Allow upto 100,000 commands in memory. (Use -1 to just load everything.)
export HISTSIZE=100000

# Append to history instead of overwriting it.
shopt -s histappend

# Attempt to save all lines of a multiple-line command in the same history entry.
shopt -s cmdhist

# Save multi-line commands to the history with embedded newlines.
shopt -s lithist

# Resources:
# http://jesrui.sdf-eu.org/remember-all-your-bash-history-forever.html
# http://stackoverflow.com/questions/9457233/unlimited-bash-history
# http://unix.stackexchange.com/questions/1288/preserve-bash-history-in-multiple-terminal-windows
