#!/usr/bin/env bash

# A handy function for searching the complete annotated history.
hsearch() {
    # Ignore lines that start with "#pid=". Also, color the timestamps gray.
    # (Use "\x5c" to print the slash character before the "1".)
    grep --no-filename "$@" $DF_HISTORY_DIR/* \
        | grep -v "#pid=" \
        | sed "s/^\(:[^;]*;\)/`printf "\e[90m\x5c1\e[0m"`"/
}
