#!/usr/bin/env bash

# A handy function for searching the complete annotated history.
# http://signal0.com/2012/07/19/keeping_bash_history_forever.html
hsearch() {
    # Ignore lines that start with "#pid=".
    grep --no-filename "$@" $DF_HISTORY_DIR/* | grep -v "#pid="
}


# Call "load_nvm" before using nvm. (No need to do this for every shell.)
load_nvm() {
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
}
