[user]
    useConfigOnly = true

# icdiff configuration from:
# http://owen.cymru/github-style-diff-in-terminal-with-icdiff/

[alias]
    showtool = "!f() { git difftool $1^ $1; }; f"
    added = difftool --cached

    # Use "git dif" (with one f) to view changes with icdiff.
    dif = icdiff

[diff]
    # Detect copies as well as renames
    renames = copies

    # Set icdiff as the diff tool.
    tool = icdiff

[difftool]
    prompt = false

[difftool "icdiff"]
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[pager]
    difftool = true
